[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
awesome-slugify = "*"
click = "~=6.0"
feedgen = "*"
future = "*"
pytz = ">=2017.3"
"Jinja2" = "*"
Markdown = "*"
PyYAML = "*"

[dev-packages]
setuptools = "*"
bpython = "*"
flake8 = "*"
pycodestyle = "*"
pytest = "*"
pytest-watch  = "*"
Sphinx = "*"
sphinx_rtd_theme = "*"
sphinx-click = "*"
twine = "*"

[requires]
python_version = "3.7"
