<!DOCTYPE html>
<html>
	<head>	
		<title>My website - {% block title %}{% endblock %}</title>
	</head>
	
	<body>
		<header>
            <div class="header">
                <a href="/">My Website</a>
            </div>
		</header>

		<nav>
            <div id="menu">
                <h1>Menu</h1>
                <ul>
                {% for p in sorted_pages %}
                    {% if p.parent == None %}
                        <li class="item"><a href="{{p.href}}">{{p.title}}</a></li>
                    {% else %}
                        <li class="subitem"><a href="{{p.href}}">{{p.title}}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
		</nav>
		
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>

		<footer>
            <div class="footer">
                <p>Copyright 2010 You</p>
                <p>Powered by <a href="http://nickpegg.com/pages/posty.html">Posty</a></p>
            </div>
		</footer>
	</body>
</html>