{% extends "base.html" %}

{% block title %}
    {{ post.title }}
{% endblock %}


<div class="post">
    <a class="postitle" href="{{post.href}}">{{post.title}}</a>
    <span class="info">Posted on {{post.date}}</span>
    {{post.body | markdown}}					
</div>
